BASE_URL=https://deploy-url.ext

# Uncomment for local dev
# Heroku sets this automatically
PORT=5000

# Use either these params (local dev / VPS)
# or CLEARDB_DATABASE_URL below for Heroku w/ ClearDB
DB_HOST=localhost
DB_NAME=dbname
DB_USER=user
DB_PASS=pass

# For Heroku ClearDB add-on
CLEARDB_DATABASE_URL=mysql://user:pass@host.cleardb.net/heroku_dbname?reconnect=true