body {
  padding-top: 60px;
}

/* Navbar */
.icon-github {
  margin-right: 0.5em;
}

img.navbar-avatar {
  max-height: 60px;
}

/* Content part */
#main {
  font-size: 18px;
}

.main-hidden {
  display: none;
}

#main h1 {
  margin-bottom: 0.75em;
}

#main h2 {
  margin: 1.5em 0 0.5em;
}
